<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的知乎</title>
</head>
<h1>DEBUG： </h1>>
<form action="/index/" method="post">
{% csrf_token %}
问题标题:  <input type="text" name="question_title" />
问题作者： <input type="text" name="question_author" />
问题: <input type="text" name="question_detail" />
<input type="submit" value="提交" />
</form>
<br>
    ------------
<br>
<form action="/" method="post">
    {% csrf_token %}
    URL： <input type="url" name="zhihu_url" />
    <input type="submit" value="爬取">
</form>
</body>
</html>