<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>我的知乎</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            我的知乎
        </el-header>
        <el-main>
            <el-form :inline="true">
                <el-form-item>
                    <el-input v-model="url" placeholder="请输入URL"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" round @click="Getzhihu">爬取</el-button>
                </el-form-item>
            </el-form>
            <!--            <form action="getZHIHU/" method="post">-->
            <!--                URL： <input type="url" name="zhihu_url"/>-->
            <!--                <el-button type="primary" round>爬取</el-button>-->
            <!--            </form>-->
        </el-main>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!--import router JavaScript-->
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
const router = new VueRouter({
  base: '/',
  mode: 'history',
  routes: [{path: '/question'}]
});
let app = new Vue({
  el: '#app',
  router,
  data: {
    loading: false,
    url: '',
  },
  methods: {
    N_success: function() {
        this.$message({
            message: '抓取成功',
            type: 'success'
        });
    },
    N_warning: function() {
        this.$message({
            message: '请输入知乎网页地址！',
            type: 'warning'
        });
    },
    N_error: function() {
        this.$message({
            message: '出错了！',
            type: 'error'
        });
    },
    question_page: function() {
        console.log(this);
        this.$router.push('/question');
        this.$router.go(0);
    },
    Getzhihu(){
        axios({
            method: 'post',
            url: '/getZHIHU/',
            data: {
                url:this.url,
            },
        })
        .then(function (response) {
            console.log(response);
            if (response.data.success == null){
                app.N_warning();
            };
            if (response.data.success == true){
                app.N_success();
                app.question_page();
            };
        })
        .catch(function (error) {
            console.log(error);
            app.N_error();
        });
    }
  }
});
</script>
<p>----------------------------------------------------------------------------------------------------------</p>
<h1>DEBUG： </h1>
<form action="index/" method="post">
    问题标题: <input type="text" name="question_title"/>
    问题内容: <input type="text" name="question_detail"/>
    问题知乎ID: <input type="text" name="question_id"/>
    <input type="submit" value="提交"/>
</form>
</html>