<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>我的知乎</title>
</head>
<body>
{% if question_list %}
    <ul>
        {% for question in question_list %}
            <li>ID: {{ question.id }}
                Title: <a href="{{ question.question_id }}">{{ question.question_title }}</a>
                QuestionID: {{ question.question_id }}
                Detail: {{ question.question_detail }}
                Publish Date: {{ question.question_pubDate }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No questions are available</p>
{% endif %}

{% if messages %}
    <script>
    {% for msg in messages %}
      alert('{{ msg.message }}');
    {% endfor %}
    </script>
{% endif %}
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>