<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的知乎</title>
</head>
<body>
{% if question_list %}
    <ul>
        {% for question in question_list %}
            <li>ID: {{ question.id }}
                Title: <a href="{{ question.question_id }}">{{ question.question_title }}</a>
                QuestionID: {{ question.question_id }}
                Detail: {{ question.question_detail }}
                Publish Date: {{ question.question_pubDate }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No questions are available</p>
{% endif %}

{% if messages %}
    <script>
    {% for msg in messages %}
      alert('{{ msg.message }}');
    {% endfor %}
    </script>
{% endif %}
</body>
</html>